:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --graphic-design-text: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    --footer-bg: hsl(168, 46%, 70%);
    --vdark-desat-blue: hsl(212, 27%, 19%);
    --vdark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

/* Body Styles */
body {
    width: 100%;
}

/* Nav Styling */
footer > nav > ul {
    display: flex;
    justify-content: space-around;
    margin: 3rem auto;
    max-width: 300px;
    font-size: 1.125rem;
}

.mobile-nav {
    width: 90%;
    max-width: 400px;
    background-color: var(--white);
    padding: 3rem 0;
    text-align: center;
    position: absolute;
    z-index: 15;
    top: 7rem;
    right: 1rem;
}

.mobile-nav > ul {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

header > nav > ul > li > a {
    color: var(--dark-grayish-blue);
    font-family: 'Barlow', serif;
    font-size: 1.125rem;
    text-decoration: none;
}

.header-contact {
    background-color: var(--yellow);
    padding: 1rem 1.5rem;
    border-radius: 50px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--vdark-desat-blue);
    text-transform: uppercase;
}

.desktop-nav {
    position: absolute;
    top: 4rem;
    right: 4rem;
}

.desktop-nav > ul {
    display: flex;
    gap: 3rem;
}

.desktop-link {
    color: var(--white);
    background-color: transparent;
}

.desktop-contact {
    color: var(--vdark-desat-blue);
    background-color: var(--white);
    padding: 1rem 1.5rem;
    border-radius: 50px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    text-transform: uppercase;
}

.desktop-contact:active,
.header-contact:active {
    color: var(--white);
    background-color: hsl(200, 95%, 75%);
}

/* Text Styles */
h1, h2 {
    font-family: 'Fraunces', serif;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white);
    font-size: clamp(2rem, -0.4rem + 12vw, 4rem);
    letter-spacing: 10px;
    text-align: center;
}

h2 {
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.25;
    color: var(--vdark-desat-blue);
    width: 90%;
    margin: 0 auto;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 1.125rem;
    color: var(--dark-grayish-blue);
}

/* Link Styling */
article > a {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--vdark-desat-blue);
    background-color: transparent;
    position: relative;
    width: 130px;
}

article > a::after {
    position: absolute;
    border-radius: 4px;
    content: '';
    height: 10px;
    bottom: -2px;
    margin: 0 auto;
    left: -6px;
    right: 0;
    width: 135px;
    opacity: 0.25;
    z-index: -1;
}

.yellow-link::after {
    background: var(--yellow);
}

.red-link::after {
    background: var(--soft-red);
}

article > a:active::after {
    opacity: 1;
}

/* Header Styles */
header {
    background-image: url('../images/mobile/image-header.jpg');
    background-size: cover;
    background-position: bottom;
    height: 560px;
    position: relative;
}

.h1-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3.5rem;
    flex-wrap: wrap;
}

.h1-wrapper > img {
    object-fit: contain;
}

/* Image Styling */
section > picture {
    margin: 0;
}

section > picture > img {
    width: 100%;
}

picture > img {
    vertical-align: bottom;
}

/* Article Styling */
article {
    margin: 2rem auto;
    width: 95%;
    text-align: center;
}

/* Footer Styling */
footer > nav {
    font-family: 'Barlow', sans-serif;
}

footer > nav > ul > li > a {
    color: var(--footer);
    text-decoration: none;
}

footer > nav > ul > li > a:active {
    color: var(--white);
}

/* Button Styling */
button {
    border: 0;
    outline: 0;
    background: transparent;
    top: 2rem;
    right: 1rem;
    position: absolute;
    padding: 0;
    cursor: pointer;
}

/* Logo Styling  */
.header-logo {
    top: 2rem;
    left: 1rem;
    position: absolute;
}

/* Triangle Styling */

.triangle {
    width: 0;
    height: 0;
    border-bottom: 35px solid var(--white);
    border-left: 35px solid transparent;
    position: absolute;
    top: -30px;
    right: 0;
}

/* Hidden Class */

.hidden {
    display: none;
}

/* Graphic Styling */
.graphic-design {
    background-image: url('../images/mobile/image-graphic-design.jpg');
    margin: 0;
    width: 100%;
    padding: 3rem 0;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
}

.graphic-design-text {
    color: var(--graphic-design-text);
}

.graphic-design > p,
.photography > p {
    font-size: 1rem;
}

/* Photography Styling */
.photography {
    background-image: url('../images/mobile/image-photography.jpg');
    margin: 0;
    width: 100%;
    padding: 3rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
}

.photography-text {
    color: var(--photography-text);
}

/* Testimonials Styling */

.testimonials > h2 {
    color: var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1rem;
    text-align: center;
    margin-top: 4rem;
}

.testimonials > article > p {
    font-size: 1.125rem;
    padding: 0;
    margin: 2rem 0.75rem;
    line-height: 1.7;
    color: var(--vdark-grayish-blue);
}

.testimonials > article {
    margin: 5rem auto;
}

.testimonial-profile {
    border-radius: 50%;
    width: 75px;
    height: auto;
}

.testimonial-name {
    font-family: 'Fraunces', serif;
    color: var(--vdark-desat-blue);
    display: block;
    font-size: 1.125rem;
    font-weight: 900;
    margin-bottom: 0.75rem;
}

.testimonial-role {
    font-family: 'Barlow', sans-serif;
    color: var(--grayish-blue);
    display: block;
    font-size: 0.9rem;
}

/* Image Grid Styles */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image-grid > picture > img {
    width: 100%;
    height: auto;
}

/* Footer Styles */

footer {
    background-color: var(--footer-bg);
    padding: 3rem 0;
}

.logo {
    margin: 0 auto;
    display: block;
    height: 2rem;
    width: auto;
}

.social-media-links {
    margin-top: 5.5rem;
    display: flex;
    gap: 1.75rem;
    justify-content: center;
}

svg {
    fill: #2C7566;
}

svg:active {
    fill: var(--white);
}

/* Attribution Styling */

.attribution {
    margin: 4rem auto 0 auto;
}

.attribution > p {
    padding: 0;
    font-size: 0.9rem;
    color: var(--footer);
}

.attribution > p > a {
    color: var(--vdark-desat-blue);
}

@media (hover: hover) {
    .attribution > p > a:hover {
        color: var(--white);
    }

    article > a:hover::after {
        opacity: 1;
    }

    .desktop-contact:hover,
    .header-contact:hover {
        color: var(--white);
        background-color: hsl(200, 95%, 75%);
    }

    footer > nav > ul > li > a:hover {
        color: var(--white);
    }

    svg:hover {
        fill: var(--white);
    }
}

@media only screen and (min-width: 650px) {
    .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .photography {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .graphic-design {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
}

@media only screen and (min-width: 850px) {
    .transform,
    .stand-out {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .transform > picture > img,
    .stand-out > article {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .transform > article,
    .stand-out > picture > img {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .image-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .testimonial-flexbox {
        display: flex;
        justify-content: space-around;
    }

    .transform > article,
    .stand-out > article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }

    .transform > article > *,
    .stand-out > article > * {
        text-align: left;
        margin: 1rem 0;
    }

    .transform > article > h2,
    .stand-out > article > h2 {
        font-size: 2.5rem;
    }

    picture, img {
        padding: 0;
        margin: 0;
    }

    header {
        background-image: url('../images/desktop/image-header.jpg');
        background-position: center;
        height: 100vh;
    }

    .header-logo {
        height: 2rem;
        width: auto;
        top: 3rem;
        left: 2rem;
    }

    .h1-wrapper {
        flex-direction: column;
        gap: 4rem;
    }

    .graphic-design {
        background-image: url('../images/desktop/image-graphic-design.jpg');
    }

    .photography {
        background-image: url('../images/desktop/image-photography.jpg');
    }

    .graphic-design > p,
    .photography > p {
        max-width: 350px;
        margin: 0 auto;
    }

    .graphic-design,
    .photography {
        height: 500px;
    }

    .testimonials {
        padding: 5rem 0;
        margin: 0 auto;
        max-width: 1150px;
    }

    .testimonial-name {
        margin-top: 4rem;
    }

    .testimonial-profile {
        margin: 4rem 0 3rem 0;
    }

    article > a::after {
        position: absolute;
        border-radius: 4px;
        content: '';
        height: 10px;
        bottom: -2px;
        margin: 0;
        left: -6px;
        right: 0;
        width: 135px;
        opacity: 0.25;
        z-index: -1;
    }
}

@media only screen and (min-width: 750px) {
    button {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .hidden-on-mobile {
        display: none;
    }
}